.user-container
{
    width: 100%;
    margin-top: 50px;
}

.user-table {
    width: 97%;
    border-collapse: collapse;
    margin: 20px;
  
  }
  
  .user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  
  .user-table th {
    background-color: rgba(129, 129, 129, 0.3);
  }
  
  .user-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .editdelete
  {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .edit
  {
    background-color: blue;
    color: #ddd;
    padding: 8px 20px;
    border-radius: 10px;
    margin-right: 10px;

  }
  .delete
  {
    background-color: red;
    color: #ddd;
    padding: 8px 20px;
    border-radius: 10px;
  }
  .addnewuser
  {
    background-color: aquamarine;
    display: absolute;
    z-index: 5;
  }
  .register-container1 {
    padding: 50px;
    position: absolute;
    z-index: 5;
    display: flex;
    text-align: start;
    align-items: center;
    width: 100%;
    background-color: rgba(63, 63, 63, 0.6);
  }
  .reg-form1{
    margin: 50px;
  }
  .cancel-btn
  {
    display: flex;
    float: right;
    color: red;
    font-size: 40px;
    margin: 10px 10px 0px 0px;
  }
  .register-title1
  {
    display: flex;
    justify-content: center;
  }
  .register-form1
  {
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    background-color: #ddd;
  }
  .register-form1 form input {
    width: 90%;
    padding: 10px;
    background: none;
    color: #000000;
    border: 2px solid rgb(61, 59, 59);
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
  }
  .register-form1 form input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #f6d95a;
    color: #000000;
    border:2px solid rgb(61, 59, 59);
    outline: none;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 15px;
  }
  .register-form1 form input[type="submit"]:hover
  {
      background-color: #000000;
      color: white;
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 0px 50px 10px;
  }
.add-user-btn{
  display: flex;
  float:right;
  background-color: #C29D59;
  justify-content: flex-end;
  padding: 5px 15px;
  border-radius: 10px;
  margin-left: -20px;
  margin-bottom: 50px;
  color: white;
}

